@tailwind base;
@tailwind components;
@tailwind utilities;

.options::-webkit-scrollbar {
  width: 7px;
}
.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

#filter {
  transition: top 3s ease-in-out;
}