{{ define "main" }} {{ partial "filter.html" . }}

<div
  class="mx-auto mt-12 grid max-w-7xl gap-4 sm:gap-6 md:grid-cols-2 md:gap-x-6 md:gap-y-8 lg:grid-cols-3 lg:px-4"
>
  {{ range where .Site.RegularPages "Type" "card" }}
  <a
    href="#"
    title="{{ .Title }}"
    class="flex flex-col overflow-hidden rounded-lg bg-white shadow hover:shadow-lg hover:shadow-slate-600"
  >
    <div class="flex-shrink-0">
      <div class="relative">
        <picture>
          <img
            class="aspect-[4/3] object-cover"
            src="{{ .Params.coverImage }}"
            alt="Cover image for the listing property - 35"
            loading="lazy"
            width="736"
            height="552"
          />
        </picture>
        <span
          class="bg-indigo-900 absolute -bottom-6 left-4 w-auto rounded-full border-4 border-solid border-white px-6 py-2 text-sm font-semibold text-white"
        >
          € {{ .Params.details.price }}
        </span>
      </div>
    </div>
    <div class="flex flex-1 flex-col justify-between px-6 pb-8">
      <div class="mt-8 flex-1">
        <h2 class="line-clamp-1 text-xl font-semibold text-gray-900">
          {{ .Title }}
        </h2>
        <div class="mb-4 mt-2 flex items-cenmter">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentcolor"
            class="stroke-secondary-500 mr-2 h-4 w-4 flex-none"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5.0 1115 0z"
            ></path>
          </svg>
          <small class="truncate">{{ .Params.location.location }}</small>
        </div>
        <p class="line-clamp-3 text-base text-slate-800">
          {{ .Params.details.description }}
        </p>
      </div>
    </div>
    <div
      class="flex justify-between border-t border-slate-200 px-6 py-2 text-sm text-slate-700"
    >
      <p class="nowrap flex items-center gap-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="h-5 w-5"
          aria-hidden="true"
        >
          <!-- Your SVG path here -->
        </svg>
        {{ .Params.details.distancefromcentre }}
      </p>
      <p>{{ .Params.date.Format "02-Jan-2006" }}</p>
    </div>
  </a>
  {{ end }}
</div>
{{ end }}
